<div class="content">

    <div class="logo">
        <img src="../../../assets/img/marvel-logo.png">
    </div>

    <div class="villains">
        <img src="../../../assets/img/ultron.png" class="ultron">
        <img src="../../../assets/img/loki.png" class="loki">
        <img src="../../../assets/img/thanos.png" class="thanos">
    </div>


    <div class="villains-text">
        VILLAINS
    </div>

    <div class="ironman-title">
        <span class="ironman-title-i">
            <img src="../../../assets/img/Iron-Man-Logo-i.png" alt="ironman">
        </span>

        <span class="ironman-title-r">
            <img src="../../../assets/img/Iron-Man-Logo-r.png" alt="ironman">
        </span>

        <span class="ironman-title-o">
            <img src="../../../assets/img/Iron-Man-Logo-o.png" alt="ironman">
        </span>

        <span class="ironman-title-n">
            <img src="../../../assets/img/Iron-Man-Logo-n.png" alt="ironman">
        </span>




        <span class="ironman-title-space">
            &nbsp;
        </span>



        <span class="ironman-title-m">
            <img src="../../../assets/img/Iron-Man-Logo-m.png" alt="ironman">
        </span>

        <span class="ironman-title-a">
            <img src="../../../assets/img/Iron-Man-Logo-a.png" alt="ironman">
        </span>

        <span class="ironman-title-n2">
            <img src="../../../assets/img/Iron-Man-Logo-n.png" alt="ironman">
        </span>
    </div>
</div>
